<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />

    <uses-feature
        android:name="android.hardware.faketouch"
        android:required="false" />

    <!--suppress DeprecatedClassUsageInspection -->
    <uses-permission
        android:name="android.permission.USE_FINGERPRINT"
        tools:node="remove" />

    <queries>
        <package android:name="com.android.vending" />
        <package android:name="com.google.market" />
    </queries>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:appCategory="audio"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_launcher_name_g"
        android:localeConfig="@xml/locale_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="UnusedAttribute"
        tools:replace="android:label">

        <activity
            android:name=".activities.WidgetRecordDisplayConfigureActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/MyWidgetConfigTheme"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".helpers.MyWidgetRecordDisplayProvider"
            android:exported="true"
            android:icon="@drawable/ic_microphone_vector">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_record_display" />
        </receiver>

        <activity
            android:name=".activities.BackgroundRecordActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoDisplay" />

        <activity
            android:name=".activities.SplashActivity"
            android:exported="false"
            android:theme="@style/SplashTheme" />

        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
                <action android:name="android.provider.MediaStore.RECORD_SOUND" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.SettingsActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:label="@string/settings"
            android:parentActivityName=".activities.MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.goodwy.commons.activities.PurchaseActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:label="@string/action_support_project"
            android:parentActivityName=".activities.MainActivity" />

        <activity
            android:name="com.goodwy.commons.activities.AboutActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:label="@string/about"
            android:parentActivityName=".activities.MainActivity" />

        <activity
            android:name="com.goodwy.commons.activities.CustomizationActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:label="@string/customize_colors"
            android:parentActivityName=".activities.SettingsActivity" />

        <service
            android:name=".services.RecorderService"
            android:exported="false"
            android:foregroundServiceType="microphone">
            <intent-filter>
                <action android:name="com.goodwy.voicerecorder.action.GET_RECORDER_INFO" />
                <action android:name="com.goodwy.voicerecorder.action.STOP_AMPLITUDE_UPDATE" />
                <action android:name="com.goodwy.voicerecorder.action.TOGGLE_PAUSE" />
            </intent-filter>
        </service>

        <service
            android:name=".helpers.MyTileService"
            android:icon="@drawable/ic_recorder"
            android:exported="true"
            android:label="@string/app_launcher_name_g"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <activity-alias
            android:name=".activities.SplashActivity.Original"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher"
            android:targetActivity=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.One"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_one"
            android:roundIcon="@mipmap/ic_launcher_one"
            android:targetActivity=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Two"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_two"
            android:roundIcon="@mipmap/ic_launcher_two"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Three"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_three"
            android:roundIcon="@mipmap/ic_launcher_three"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Four"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_four"
            android:roundIcon="@mipmap/ic_launcher_four"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Five"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_five"
            android:roundIcon="@mipmap/ic_launcher_five"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Six"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_six"
            android:roundIcon="@mipmap/ic_launcher_six"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Seven"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_seven"
            android:roundIcon="@mipmap/ic_launcher_seven"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Eight"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_eight"
            android:roundIcon="@mipmap/ic_launcher_eight"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Nine"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_nine"
            android:roundIcon="@mipmap/ic_launcher_nine"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Ten"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_ten"
            android:roundIcon="@mipmap/ic_launcher_ten"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Eleven"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_eleven"
            android:roundIcon="@mipmap/ic_launcher_eleven"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
    </application>
</manifest>
